<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>shop-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shop-list</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <p class="shop-list-header">Listado de Tiendas</p>
    <ion-list>
      <ion-item *ngFor="let s of shops">
        <ion-label>address: {{s.address}}</ion-label>
        <ion-label>telephone: {{s.telephone}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
