<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Hola holita esta es mi paginita</p>
    <ion-button (click)="goToShopList()">Ir al listado de Tiendas</ion-button>

    <ion-list>
      <ion-item *ngFor="let s of shops">
        <p>dirección: {{s.address}}</p>
        <p>teléfono {{s.telephone}}</p>
      </ion-item>
    </ion-list>
    
  </div>
</ion-content>
